

<?php 
if ($result->num_rows > 0) {
    //  output data of each row
    echo "<table class='projektid'id='alternatecolor'>
 <tr>
    <th><b>Tellija</b> </th>
    <th><b>Projekti nimetus</b></th>
    <th><b>Projekti nr</b> </th>
    <th><b>Projekti sisu</b></th>
    <th><b>Projektijuht</b></th>
    <th><b>Projekteerija</b></th>
    <th><b>Tee pikkus (m)</b></th>
    <th><b>Tee pindala (m2)</b></th>
    <th><b>Teostamise aasta</b></th>
    <th><b>Projekti maksumus (EUR)</b> </th>
    <th><b>Link projektile</b></th>
    <th></th>
    <th></th>
    
 </tr>"; 
    while($row = $result->fetch_assoc()) {
        echo "<tr>
        <td>" . $row['tellija'] . "</td>
        <td>" . $row['nimi'] . "</td>
        <td>" . $row['projektiNr'] . "</td>
        <td>" . $row['sisu'] . "</td>
        <td>" . $row['projektijuht'] . "</td>
        <td>" . $row['projekteerija'] . "</td>
        <td>" . $row['pikkus'] . "</td>
        <td>" . $row['pindala'] . "</td>
        <td>" . $row['aasta'] . "</td>
        <td>" . $row['maksumus'] . "</td>
        <td><a href='" . $row['link'] . "'title='link'><img src='pildid/link.png'></a></td>
        <td><a href='http://enos.itcollege.ee/~agrigorj/KURSUSE_PROJEKT/delete.php?id=" . $row['id'] . "'title='delete' onclick='return confirm_delete()'><img src='pildid/Delete.png'></a></td>
        <td><a href='projektipank.php?page=edit&id=" . $row['id'] . "'title='edit' ><img src='pildid/edit.png'></a></td>
        </tr>";      }
        
     echo "</table>";
     } else {
     echo "no results";
}

?>
<script type="text/javascript">
	function confirm_delete() {
  	return confirm('Oled kindel, et tahad andmed kustutada?');
}
</script>