<?php 

if ($result->num_rows > 0) {
    //  output data of each row
    echo "<table border='1'>
 <tr>
    <td><b>Tellija</b> </td>
    <td><b>Projekti nimetus</b> </td>
    <td><b>Projekti nr</b> </td>
    <td><b>Projekti sisu</b></td>
    <td><b>Projektijuht</b></td>
    <td><b>Projekteerija</b></td>
    <td><b>Tee pikkus (m)</b></td>
    <td><b>Tee pindala (m2)</b></td>
    <td><b>Teostamise aasta</b></td>
    <td><b>Projekti maksumus</b> (EUR)</td>
    <td><b>Link projektile</b></td>
    
 </tr>"; 
    while($row = $result->fetch_assoc()) {
        echo "<tr>
        <td>" . $row['tellija'] . "</td>
        <td>" . $row['nimi'] . "</td>
        <td>" . $row['projektiNr'] . "</td>
        <td>" . $row['sisu'] . "</td>
        <td>" . $row['projektijuht'] . "</td>
        <td>" . $row['projekteerija'] . "</td>
        <td>" . $row['pikkus'] . "</td>
        <td>" . $row['pindala'] . "</td>
        <td>" . $row['aasta'] . "</td>
        <td>" . $row['maksumus'] . "</td>
        <td>" . $row['link'] . "</td>
        <td><a href='http://enos.itcollege.ee/~agrigorj/KURSUSE_PROJEKT/delete.php?id=" . $row['id'] . "'>delete</a></td>
        </tr>";      }
     echo "</table>";
     } else {
     echo "no results";
}

?>
	